.emz_wrapper, .emz_header, .emz_header_title, .emz_content, .emz_event, .emz_title, .emz_date, .emz_day, .emz_month, .emz_event_desc, .emz_event_actions, .emz_moreinfo, .emz_buttons, .emz_moreinfo, .emz_footer, .emz_brand{
	display:block;
	position:relative;
}
.emz_wrapper:after, .emz_header:after, .emz_content:after, .emz_event:after, .emz_date:after, .emz_event_actions:after, .emz_buttons:after, .emz_footer:after{
	display:block;
	position:relative;
	content:"\00a0";
	height:0;
	clear:both;
}
.emz_wrapper, .emz_header_title, .emz_title, .emz_day, .emz_month, .emz_event_desc, .emz_event_actions, .emz_buttons{
	font-family:Helvetica,Arial,sans-serif;
}
.emz_wrapper{
	background-color:transparent;
}
.emz_header{
	height:78px;
  height:43px;
  border-top:3px solid #4DC6F3;
  background: #ffffff;
  background-image: linear-gradient(bottom, #FFFFFF 80%, #BFE3F8 100%);
  background-image: -o-linear-gradient(bottom, #FFFFFF 80%, #BFE3F8 100%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 80%, #BFE3F8 100%);
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 80%, #BFE3F8 100%);
  background-image: -ms-linear-gradient(bottom, #FFFFFF 80%, #BFE3F8 100%);
  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.80, #FFFFFF),
  	color-stop(1, #BFE3F8)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#BFE3F8);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#BFE3F8);
}

.emz_header_title{
	font-size:12px;
	padding:16px 0 10px 0;
	margin:0px 20px 0px 20px;
	border-bottom:1px dotted #4F4A4A;
	color:#000;
	text-align:right;
	background:transparent url("../images/emz_brand.png") left center no-repeat;
	font-family:'Lucida Grande',Helvetica,Arial,sans-serif;
}
.emz_title a{
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
.emz_tiny .emz_title a{
  color: #18B8F1;
}
.emz_content{
	background-color:white;
	padding:0 23px;
}
.emz_event{
	margin-bottom:6px;
	padding-top:6px;
	border-bottom:1px solid #B1B1B1;
}
.emz_title{
	font-weight:bold;
	color:#282828;
	font-size:15px;
	margin-bottom:10px;
}
.emz_date{
	float:left;
	width:30px;
}
	.emz_day{
		width:32px;
		height:32px;
		line-height:34px;
		background: transparent url("../images/emz_icn_agenda.png") left top no-repeat;
		text-align:center;
		font-weight:bold;
		font-size:16px;
	}
	.emz_month{
		text-align:center;
		text-transform:uppercase;
		font-size:11px;
		color:#9C9C9C;
	}
.emz_event_desc{
	padding-left:40px;
	color:#9C9C9C;
	font-size:12px;
	line-height:14px;
}
.emz_event_desc p{
	margin:0;
	padding:0;
}
.emz_event_actions{
	text-align:right;
	clear:both;
	margin:10px 0;
}
.emz_event_actions a{
	color:#18B8F1;
	font-weight:bold;
	text-decoration:none;
	font-size:12px;
	line-height:14px;
}
	.emz_moreinfo{}
.emz_buttons{
	clear:both;
	text-align:right;
}
	.emz_buttons .emz_moreinfo{
		display:inline-block;
		font-size:11px;
		text-transform:uppercase;
		padding: 5px 20px;
		margin: 10px 0 0;
		clear: both;
		background: transparent url("../images/bg-button.png") left top repeat-x;
		border: 1px solid #33B1E2;
		text-align: center;
		color: #fff;
		text-shadow: -1px -1px 0 rgba(0,0,0,0.25);
		text-decoration: none;
		cursor: pointer;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
		font-weight: bold;
	}
	.emz_buttons .emz_moreinfo:hover{
	background: #90d3eb url("../images/bg-button-dwn.png") left top repeat-x;
	}
.emz_footer{
	min-height:43px;
	padding-bottom:10px;
	background:white url("../images/emz_foot.png") left bottom no-repeat;
}
	.emz_brand{
		float:right;
		width:100%;
		height:43px;
		margin-right:8px;
	}
	.emz_brand.emz_deportes{
		background:transparent url("../images/emz_foot_dxt.png") right -11px no-repeat;
	}
	.emz_brand.emz_cultura{
		background:transparent url("../images/emz_foot_dxt.png") right -11px no-repeat;
	}
	.emz_brand.emz_turismo{
		background:transparent url("../images/emz_foot_dxt.png") right -11px no-repeat;
	}
/*small sizes*/
.emz_tiny .emz_title{
  display: block;
  padding-left: 41px;
  min-height: 34px;
}
.emz_tiny .emz_date{
  width: 30px;
  position: absolute;
  float:none;
  top:9px;
}
.emz_tiny .emz_event{
  padding-bottom:6px;
  margin-bottom:0px;
}
/*nombres de clases temporales*/
body{background-color:#333;}
.modulo{
	display:block;
	float:left;
	margin-right:20px;
}
.m1{
	width:250px;
}
.m2{
	width:386px;
}
.m3{
	width:500px;
}
.emz_tiny .emz_event_desc, .emz_tiny .emz_event_actions{
  display:none;
}
.emz_scroll .emz_content, .emz_386x300 .emz_content, .emz_540x300 .emz_content, .emz_300x300 .emz_content, .emz_290x300 .emz_content, .emz_290x200 .emz_content, .emz_270x200 .emz_content, .emz_320x250 .emz_content, .emz_250x250 .emz_content, .emz_320x320 .emz_content{
  overflow-x:hidden;
  overflow-y:auto;
}
.emz_386x300 .emz_content, .emz_540x300 .emz_content, .emz_300x300 .emz_content, .emz_290x300 .emz_content{
 /* height:164px;*/
 height:200px;
}
.emz_tiny .emz_event{
  margin-bottom:10px;
  padding-top:10px;
}
.emz_386x300{
  width:386px;
  height:300px;
}
.emz_540x300{
  width:540px;
  height:300px;
}
.emz_300x300{
  width:300px;
  height:300px;
}
.emz_290x300{
  width:290px;
  height:300px;
}
.emz_320x320 .emz_content{
 height:220px;
}
.emz_320x320{
  width:320px;
  height:320px;
}
.emz_320x250 .emz_content, .emz_250x250 .emz_content{
 height:151px;
}
.emz_300x250{
  width:300px;
  height:250px;
}
.emz_250x250{
  width:250px;
  height:250px;
}
.emz_290x200 .emz_content, .emz_270x200 .emz_content{
 height:100px;
}
.emz_290x200{
  width:290px;
  height:200px;
}
.emz_270x200{
  width:270px;
  height:200px;
}
/*Tiny widgets*/